@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
   box-sizing: border-box;
}

:root {
   --f-family: "Nunito Sans", sans-serif;
   --fs-sm: 12px;
   --fs-ml: 16px;
   --fw-light: 300;
   --fw-normal: 600;
   --fw-bold: 800;
   --rad: 0.5rem;
}

body {
   min-height: 100vh;
   margin: 0;
   --colors-text: hsl(200, 15%, 8%);
   --colors-bg: hsla(0, 4%, 91%, 0.838);
   --colors-ui-base: hsl(0, 0%, 100%);
   --colors-ui-apple: rgb(255, 179, 64);
   --shadow: rgba(149, 157, 165, 0.645) 0px 8px 24px;
   --colors-grey: rgba(183, 181, 188, 0.892);
   --colors-grey-lupa: rgba(46, 45, 47, 0.892);

   font-family: var(--f-family);
   color: var(--colors-text);
   font-weight: var(--fw-light);
   background-color: var(--colors-bg);
}
